<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Your Booking</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            padding: 10px 0;
            background-color: #007bff;
            color: #ffffff;
        }

        .content {
            padding: 20px;
            line-height: 1.6;
        }

        .content p {
            margin: 0 0 15px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            background-color: #28a745;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }

        .footer {
            text-align: center;
            padding: 10px;
            font-size: 12px;
            color: #777777;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Complete Your Booking</h1>
        </div>
        <div class="content">
            <p>Dear {{ name }},</p>
            <p>Thank you for choosing {{appName}} for the successful appointment. Please complete the payment for the
                service. Thank you.
                link below:</p>
            <a href="{{paymentUrl}}" class="button">Complete Payment</a>
            <p>If you have any questions or need assistance, feel free to contact us.</p>
            <p>Best regards,
                <br>{{appName}}
            </p>
        </div>
        <small>Warm regards,</small><br>
        {{ appName }}

        <div class="footer">
            <p>This is an automated message. Please do not reply.</p>
        </div>
    </div>
</body>

</html>